<div class="container">
  <form [formGroup]="formulario" class="mb-4" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                !formulario.get('nombre')?.valid &&
                formulario.get('nombre')?.touched,
              'is-valid': formulario.get('nombre')?.valid
            }"
            formControlName="nombre"
          />
          <div class="text-danger">
            <p
              *ngIf="formulario.get('nombre')?.errors?.['required'] && formulario.get('nombre')?.touched"
            >
              El nombre es un campo requerido.
            </p>
            <p
              *ngIf="formulario.get('nombre')?.errors?.['minlength'] && formulario.get('nombre')?.touched"
            >
              El nombre necesita un minimo de
              {{formulario.get('nombre')?.errors?.['minlength'].requiredLength}}
              caracteres.
            </p>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Apellidos</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': !apellidos.valid && apellidos.touched,
              'is-valid': apellidos.valid
            }"
            formControlName="apellidos"
          />
          <div class="text-danger">
            <p *ngIf="apellidos.errors?.['required'] && apellidos.touched">
              El nombre es un campo requerido.
            </p>
            <p *ngIf="apellidos.errors?.['minlength'] && apellidos.touched">
              El nombre necesita un minimo de
              {{apellidos.errors?.['minlength'].requiredLength}}
              caracteres.
            </p>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">DNI</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': !dni.valid && dni.touched,
              'is-valid': dni.valid
            }"
            formControlName="dni"
          />
          <div class="text-danger">
            <p *ngIf="dni.errors?.['required'] && dni.touched">
              El nombre es un campo requerido.
            </p>
            <p
              *ngIf="dni.errors?.['dniValido'] && dni.touched && !dni.errors?.['required']"
            >
              El DNI es invalido.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-dark m-1" type="submit">Enviar normal</button>
        <button
          class="btn btn-dark m-1"
          type="submit"
          [disabled]="!formulario.valid"
        >
          Enviar (disabled)
        </button>
        <button class="btn btn-dark m-1" type="button" (click)="cambiarNombre()">Cambiar nombre</button>
        <button class="btn btn-dark m-1" type="button" (click)="autoRellenar()">autoRellenar</button>
      </div>
    </div>
  </form>

  <div class="border border-danger p-2">
    <p><b>valor:</b> {{ formulario.value | json }}</p>
    <p><b>estado:</b> {{ formulario.status | json }}</p>
  </div>
</div>
